html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(to bottom left, rgb(219, 255, 219), rgb(231, 255, 231));
  font-family: Helvetica, sans-serif;
  color: black;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  align-items: center;
  height: 65px;
}

.navbar-item {
  display: block;
  flex: 1;
  padding: 0 1px 0 1px;
  white-space: nowrap;
}

  .navbar-item a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    color: black;
  }

nav {
  height: 65px;
  align-content: center;
  background: rgb(133, 255, 133);
  justify-content: center;
}

#navbar-item-2 a p {
  border-color: rgb(164, 62, 255);
}

.navbar-item a p {
  margin: 0px 4.5vw;
  padding: 0;
  border-bottom: ridge;
  border-color: rgb(182, 247, 255);
  border-width: 5px;
}

.navbar-item a:hover p {
  border-color: rgb(164, 62, 255);
}

footer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgb(133, 255, 133);
  min-height: 70px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

.footer-icon {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  text-decoration: none;
  color: inherit;
  font-size: 2vh;
  transition: ease-in-out 0.07s;
}

  .footer-icon img {
    height: 2vh;
    margin-bottom: 3px;
    margin-right: 5px;
    filter: invert(1);
  }

  .footer-icon:hover {
    transform: translateY(-2px) scale(1.05);
  }

  .footer-icon:active {
    transform: translateY(-2px) scale(0.95);
  }

#main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}

#main-content {
  margin-right: 50px;
  width: 50vw;
}

  #main-content h1 {
    font-size: 4.75vh;
    width: 50vw;
    text-decoration: underline rgb(169 82 255);
  }

  #main-content p {
    font-size: 2.75vh;
    width: 50vw;
    text-align: justify;
  }

#main-img {
  width: 27vw;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 100%;
}

#theme-button {
  position: fixed;
  bottom: 3px;
  left: 3px;
}

  #theme-button button {
    border-color: rgb(59, 181, 77);
    transition-duration: 0.4s;
    padding: 5px;
  }

    #theme-button button:hover {
      background: rgb(59, 181, 77);
      color: white;
    }