html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom left, rgb(25, 21, 25), rgb(0, 0, 20));
  font-family: Helvetica, sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  align-items: center;
  height: 65px;
}

.navbar-item {
  display: block;
  flex: 1;
  padding: 0 1px 0 1px;
  white-space: nowrap;
}

.navbar-item a {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 22px;
  background: rgb(3, 85, 147);
  text-align: center;
  border-radius: 2px;
}

.navbar-item a:hover {
  background: rgb(75, 204, 213);
}

nav {
  background: rgb(20, 20, 30);
  height: 65px;
  align-content: center;
}

.navbar-item a p {
  margin: 0;
  padding: 0;
}

#navbar-item-1 a {
  background: rgb(75, 204, 213);
}

#content {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  height: 100vh;
}

#content-header {
  font-size: 8vh;
}

#content-paragraph {
  font-size: 3vh;
  font-style: italic;
}

#deco1 {
  position: absolute;
  top: 15vh;
  left: 15vw;
  border-top: 8px solid rgb(255, 49, 49);
  border-left: 6px solid rgb(255, 49, 49);
  display: block;
  height: 100px;
  width: 200px;
}

#deco2 {
  position: absolute;
  bottom: 15vh;
  right: 15vw;
  border-bottom: 8px solid rgb(15, 255, 80);
  border-right: 6px solid rgb(15, 255, 80);
  display: block;
  height: 100px;
  width: 200px;
}

#theme-button {
  position: fixed;
  bottom: 3px;
  left: 3px;
}

#theme-button button {
  border-color: rgb(24, 102, 209);
  transition-duration: 0.4s;
  padding: 5px;
}

#theme-button button:hover {
  background: rgb(24, 102, 209);
  color: white;
}