html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom left, rgb(25, 21, 25), rgb(0, 0, 20));
  font-family: Helvetica, sans-serif;
  color: white;
}

footer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: rgb(20, 20, 30);
  min-height: 70px;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

.footer-icon {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  text-decoration: none;
  color: inherit;
  font-size: 2vh;
  transition: ease-in-out 0.07s;
}

.footer-icon img {
  height: 2vh;
  margin-bottom: 3px;
  margin-right: 5px;
}

.footer-icon:hover {
  transform: translateY(-2px) scale(1.05);
}

.footer-icon:active {
  transform: translateY(-2px) scale(0.95);
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  align-items: center;
  height: 65px;
}

nav ul li {
  display: block;
  flex: 1;
  padding: 0 1px 0 1px;
  white-space: nowrap;
}

li a {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 22px;
  background: rgb(3, 85, 147);
  text-align: center;
  border-radius: 2px;
}

li a:hover {
  background: rgb(75, 204, 213);
}

nav {
  background: rgb(20, 20, 30);
  height: 65px;
  align-content: center;
}

.navbar-item a p {
  margin: 0;
  padding: 0;
}

#projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}

.project-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25vh;
  height: 30vh;
  margin-right: 6vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-tile-link {
  height: 25vh;
  width: 25vh;
  z-index: 1;
  transition: ease-in-out 0.2s;
}

.project-tile-link-img {
  margin: 0;
  padding: 0;
  height: 25vh;
  width: 25vh;
  border-radius: 5px 5px 0 0;
  transition: ease-in-out .2s;
}

.project-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to right, rgb(110, 68, 215), rgb(38, 37, 199) 5%);
  box-shadow: inset 0 0 0 0 rgb(110, 68, 215);
  text-decoration: none;
  color: inherit;
  transition: ease-in-out .35s;
  z-index: 2;
}

.project-bottom:hover {
  box-shadow: inset 25vh 0 0 0 rgb(110, 68, 215);
}

.project-bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.project-bottom-wrapper-github {
  font-size: 4vh;
  margin-right: 10px;
}

.project-bottom-wrapper-github img {
  height: 4vh;
  margin-top: 3px;
}

.project-bottom-wrapper-title {
  font-size: 1.5vh;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.project-tile-link-img:hover {
  opacity: .02;
}

.project-tile-img-hidden {
  display: none;
  position: absolute;
  top: 0vh;
  left: 1vh;
  font-size: 1.6vh;
}

.project-tile-link:hover + .project-tile-img-hidden {
  display: initial;
}

#navbar-item-3 a {
  background: rgb(75, 204, 213);
}

#theme-button {
  position: fixed;
  bottom: 3px;
  left: 3px;
}

  #theme-button button {
    border-color: rgb(24, 102, 209);
    transition-duration: 0.4s;
    padding: 5px;
  }

    #theme-button button:hover {
      background: rgb(24, 102, 209);
      color: white;
    }